<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE APP</span></h5>
      <p>The APP was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.</p>
      <div style="color: red;" class="w3-panel w3-leftbar w3-light-brown">
      </div>
      <img src="https://blogvieclam.vn/wp-content/uploads/2019/11/joint-stock-company-l%C3%A0-g%C3%AC.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    </div>
  </div>